@media screen and (min-width: 650px) {
  /* .MuiOutlinedInput-input {
    width: 550px !important;
  }
  .MuiButton-root {
    min-width: 570px !important;
  } */
  .input550 {
    width: 550px !important;
  }
  .btn570 {
    min-width: 570px !important;
  }
}
.grid-spacing15 {
  margin-top: 15px !important;
}
