@media print {
  header {
    display: none;
  }
  .menuContainer {
    display: none;
  }
  .css-0jgfh {
    padding: 0;
  }
  .css1-sfdlk {
    padding: 0;
  }
  .MuiPaper-elevation1 {
    box-shadow: none !important;
  }
  .MuiPaper-elevation1 {
    border-radius: none !important;
  }
  .manageRow {
    display: none;
  }
  .taskTable thead > tr > th:first-child {
    display: none;
  }
  .taskTable thead > tr > th {
    color: #000;
    text-align: center;
    border: 1px solid rgb(204, 203, 203);
  }
  #buttonPrint {
    display: none;
  }
  .taskTable tbody > tr > th > a {
    color: #000 !important;
  }
}
